@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
/* ******************
header section styling 
**********************/
.header-content{
    margin: 2.5rem 6rem;
    background-image: linear-gradient(to right bottom, rgb(70, 69, 69), rgb(0, 0, 0));
    color: #f7f7f7;
    display: flex;
    border-radius: 25px;
} 
.header-text-box{
    padding: 4rem;
    width: 50%;   
}  
.heading-primary{
    font-size: 4rem;
    line-height: 1;
    margin-bottom: .5rem;

}
.header-text{
    font-size: .9rem;
    font-weight: 300;
}

.btn-link{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin: 1.5rem 0;
    padding: 7px 20px;
    border-radius: 5px;
    transition: all .5s;
    text-align: center;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, .2);
}
.btn-white{
    background-color: #ffffff;
    color: black;
}
.btn-red{
    background-color:rgb(212, 3, 3);
    color: white;
}
.btn-blue{
    background-color:#0078AA;
    color: white;
}
.btn-link:hover{
    transform: translateY(-3px) scale(1.1);
}

.header-image-box{
    width: 50%; 
    display: flex;  
    align-items: flex-end;
}
.header-image{  
    width: 100%;
}
 /********************* 
 blog-section styling 
 **********************/

 .section-blog{
   display: grid;
   grid-template-columns: 255px 1fr;
   gap: 1rem;
    margin: 6rem 6rem;
 }
.link-container{
    background-image:linear-gradient(to right bottom, rgb(65, 64, 64), rgb(0, 0, 0)); 
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 260px;
    border-radius: 10px;
}

.btn-menu-link{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin: .8rem 0;
    padding: .8rem 0;
    border-radius: 10px;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, .2);
    transition: all .5s;
    text-align: center;
}

.btn-menu-link:hover{
    transform: translateY(-3px) scale(1.1);

}

/*********************
 Blogs card styling
 *********************/
 .blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
 }
 .blog{
    border-radius: 10px;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0, .2);
    overflow: hidden;
 }
 .blog-banner{
     width: 100%;
}
 .blog-image{
    width: 100%;
 }
 .blog-info{
    padding: 1rem;
 }
 .btn-blog{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #B2A4FF;
    padding: 2px 8px;
    margin-bottom: .5rem;
    border: 1px solid grey;
    border-radius: 3px;
 }
 .blog-text{
    font-size: .9rem;

 }
 .blog-icons{
    margin-top: 1rem;
    list-style: none;
    font-size: .8rem;
    display: flex;
    color: #777;
 }

 .blog-icon{
    margin-right: 2rem;
 }

.icon-text{
    margin-left: .5rem;
}
.hidden{
    display: none;
}

/******************
 footer-style 
 *******************/
 footer{
    background-color: rgb(4, 1, 32);
    color: #eee;
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .footer-container{
    width: 80%;
    text-align: center;
 }
 footer hr{
    height: 1px;
    border: none;
    background-color:  rgb(38, 33, 59) ;
    margin: 3rem 0;
 }

 .footer-list{
    list-style: none;
    display: flex;
    justify-content: center;
 }
 .footer-list-item{
    margin:.5rem 1.5rem ;
    font-size: .8rem;
    background-color: rgb(4, 1, 32);
    transition: all .2s;
 }
 .footer-list a{
    text-decoration: none;
    color: #eee;
 }
.social-links{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.link-box{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgb(38, 33, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    transition: all .2s;
}

.link-box a{
    color: #eee;
}
.footer-list-item:hover,
.link-box:hover{
    transform: translateY(-3px) scale(1.1);
}


